/* Button social media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button-login{
    width: 200px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 0 3px;
    border-radius: 3px;
    @include saira(normal);
    @include font-size (16px);
    background: #0a87f1;
    color: white;
    -moz-box-shadow: #066ec6 0 4px, #8a8a8a 0 4px 4px;
    -webkit-box-shadow: #066ec6 0 4px, #8a8a8a 0 4px 4px;
    box-shadow: #066ec6 0 4px, #8a8a8a 0 4px 4px;
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    &:hover {
        color: white!important;
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -moz-box-shadow: #066ec6 0 4px, #8a8a8a 0 4px 3px;
        -webkit-box-shadow: #066ec6 0 4px, #8a8a8a 0 4px 3px;
        box-shadow: #066ec6 0 4px, #8a8a8a 0 4px 3px;
    }
    &:active {
        color: white!important;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        box-shadow: none;
    }
}

.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 3px solid $blue;
    box-shadow: none;
    &:active,
    &:focus,
    &.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 3px solid $darker-blue;
    }
    // &:disabled{
    //     background-color: $darker-grey;
    // }
}

.input-lg{
    height: 55px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    padding: 20px;
    font-size: 24px;
    z-index: 2;
    &::-webkit-input-placeholder {
        @include saira(normal);
        color: #fff;
        text-align: center;
        transition: color .4s ease;
        &:focus{
                color: transparent;
        }
    }
    &:focus + .temp-bg {
        height: 100%;
    }
}

.temp-bg {
    height: 0%;
    width: 100%;
    background: $white;
    position: absolute;
    bottom: 0;
    z-index: -2;
    transition: height 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26);
}