.footer {
    width: 100%;
    background: lightyellow;
    margin: -5px 0 0 0;
    padding: 50px 0 40px 0;
    position: relative;
    display: inline-block;
    text-align: center;
    .copyright{
        @include font-size(10px);
        @include saira(regular);
        //text-transform: uppercase;
    }
    .connect{
        @include font-size(12px);
        @include saira(regular);
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .social-media{
        margin: 0 0 30px 0;
        img{
            opacity: 1;
            width: 25px;
            margin: 0 2px;
            &:hover{
                opacity: .5;
            }
        }
    }
}