*{
	@include box-sizing(border-box);
	&:before,
	&:after{
		//content: "";
	}
}
html{
	font-size: $base-font-size;
	@include saira(normal);
	font-family: SairaSemiCondensed-Regular;
	overflow-x: hidden;
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background: $white;
	color: black;
	height: 100%;
}
iframe{
	max-width: 100%;
}
button,
textarea,
input,
select{
	outline: none;
}
img.align{
	&--left{
		float: left;
		text-align: left;
		margin-right: 20px;
	}
	&--center{
		text-align: center;
		float: none;
		display: block;
		width: 100%;
	}
	&--right{
		text-align: right;
		float: right;
		margin-left: 20px;
	}
}

.list{
	&--none{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&--decimal{
		list-style-type: decimal;
	}
	&--disc{
		list-style-type: disc;
	}
}

.text{
	&--uppercase{
		text-transform: uppercase;
	}
	&--lowercase{
		text-transform: lowercase;
	}
	&--capitalize{
		text-transform: capitalize;
	}
}

.float{
	&--left{
		float: left;
	}
	&--right{
		float: right;
	}
	&--none{
		float: none !important;
	}
}

.col-md-12,
.col-sm-12,
.col-sm-6,
.col-xs-10,
.col-xs-2,
.col-xs-8,
.col-md-6 {
	padding: 0;
}
