.navbar{
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    height: 120px;
    @include saira(normal);
    .logo{
        height: 100px;
        //margin: 10px 0;
    }
    #navbar-scroll {
        position:fixed;
        height: 80px;
        background: transparent;
        left:0;
        top:0;
        width:100%;
        z-index: 9999;
        -ms-transition:     all 0.3s ease-out;
        -moz-transition:    all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition:      all 0.3s ease-out;
        transition:         all 0.3s ease-out;
        &.small{
            background-color: lightyellow;
            height: 120px;
            line-height: 35px;
            z-index: 9999;
            .logo{
                height: 80px;
                margin: 5px 0;
            }
            .navbar-content{
                li.logo-news{
                    padding-top: 15px;
                }
                li:not(.logo-news){
                    @include font-size(15px);
                    display: flex;
                    flex-direction: column;
                    padding-top: 40px;
                }
            }
        }
        .navbar-content{
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            li.logo-news{
                padding-top: 15px;
                flex-direction: row;
                margin-right: auto;
            }
            li:not(.logo-news){
                @include font-size(17px);
                display: flex;
                padding-top: 60px;
                margin: 0 20px;
                vertical-align: middle;
                flex-direction: row;
            }
        }
    }
}

.header-wrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.9);
    position: fixed;
    left: -100%;
    z-index: 99999;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.active-menu {
        left: 0;
    }
}
.header-menu-button {
    background: transparent;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 30px;
    right: -96%;
    //transition: all .5s linear;
    &.active-menu-button {
        right: 4%;
    }
    span {
        width: 40px;
        height: 5px;
        background-color: rgba(206,255,0,1);
        position: absolute;
        z-index: 999999;
        &:nth-of-type(1) {
            top: 10px;
            left: 6px;
            transform: rotate(0);
            transition: all 0.5s linear, top 0.3s linear 0.5s;
        }
        &:nth-of-type(2) {
            top: 20px;
            left: 6px;
            opacity: 1;
            transition: all 0.2s linear 0.1s;
        }
        &:nth-of-type(3) {
            top: 30px;
            left: 6px;
            transform: rotate(0);
            transition: all 0.5s linear, top 0.3s linear 0.5s;
        }
        &:nth-of-type(1).active-span {
            top: 19px;
            transform: rotate(405deg);
            // transition: all 0.5s linear;
        }
        &:nth-of-type(2).active-span {
            top: 19px;
            opacity: 0;
            // transition: all 0.5s linear;
        }
        &:nth-of-type(3).active-span {
            top: 19px;
            transform: rotate(495deg);
            // transition: all 0.5s linear;
        }
    }
}
.header-display {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff!important;
    background: rgba(0,0,0,.5);
    //background-image: url(../img/brushed.png);
    flex-direction: column;
    padding: 70px 20px 0 0;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    ul{
        list-style-type: none;
        a{
            color: #fff!important;
            text-transform: uppercase;
            @include saira(regular);
            @include font-size(14px);
            line-height: 3;
        }
    }
}
.header-mobile-logo {
    width: 100%;
    display: initial;
    position: absolute;
    top: 50px;
    text-align: center;
    img {
        width: 100px;
        height: 100%;
    }
    h2 {
        color: #F1F8F9;
    }
}