.wrapper{
    width: 100%;
    .section-1{
        width: 100%;
        background-color: lightyellow;
        display: inline-block;
        padding: 70px 0;
        .featured-news-wrapper{
            padding-top: 120px;
            width: 100%;
            text-align: center;
            .slider{
                display: -webkit-box;
                background-color: #fff;
                .button-wrapper{
                    margin-top: 10px;
                    display: inline-block;
                    // float: left;
                    .news-load{
                        @include saira(regular);
                        @include font-size(14px);
                        margin: 0 auto;
                        display: block;
                        border-radius: 0;
                    }
                }
            }        
        }
    }
    .section-2, .section-3{
        width: 100%;
        display: inline-block;
        padding: 60px 0;
        .news-wrapper{
            .news-wrapper-title{
                margin: 20px 0;
                p{
                    text-align: center;
                    @include font-size(28px);
                    @include saira(bold);
                    text-transform: uppercase;
                }
            }
            .news{
                display: -webkit-inline-box;
                margin: 10px 0;
                .news-image{
                    height: 200px;
                    overflow: hidden;
                    img{
                        display: -webkit-box;
                        height: 100%;
                        //width: 100%;
                    }
                }
                .news-content{
                    padding: 0;
                    background-color: #fff!important;
                    .title{
                        p{
                            width: 100%;
                            @include center-absolute;
                            @include saira(regular);
                            padding: 0 20px;
                        }
                    }
                }
            }
            .button-wrapper{
                margin-top: 50px;
                .news-load{
                    width: 200px;
                    @include saira(regular);
                    @include font-size(16px);
                    text-transform: uppercase;
                    margin: 0 auto;
                    display: block;
                    border-radius: 0;
                }
            }
        }
    }
    .section-2{
        background: url(../img/connect.png);
        background-position-x: center;
        background-blend-mode: multiply;
        background-color: rgba(206,255,0,0.6);
    }
    .section-3{
        background: url(../img/light_wool.png);
        background-position-x: center;
        background-blend-mode: multiply;
        background-color: rgba(0,201,255,0.6);
    }
    .section-4{
        width: 100%;
        display: inline-block;
        padding: 60px 0 60px 0;
        background: url(../img/gplaypattern.png);
        background-position-x: center;
        background-blend-mode: multiply;
        background-color: rgba(255,162,0,0.6);
        .tab-news{
            border-radius: 0;
            padding: 10px 0;
            @include saira(regular);
            @include font-size(16px);
            text-transform: uppercase;
            color: #fff!important;
            &:hover{
                background-color: #c9302c;
            }
        }
        .tab-content{
            padding-top: 30px;
            .news{
                display: -webkit-inline-box;
                margin: 5px 0;
                .news-image{
                    height: 80px;
                    width: 80px;
                    overflow: hidden;
                    //border-radius: 50px;
                    img{
                        display: -webkit-box;
                        height: 100%;
                        //width: 100%;
                    }
                }
                .news-content{
                    padding: 0;
                    background-color: #fff!important;
                    .title{
                        p{
                            width: 100%;
                            @include center-absolute;
                            @include saira(regular);
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }
}
