@media (max-width: 1000px){
 /* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
    height: 110px;    
    #navbar-scroll{
        .navbar-content{
                display:none;
        }
        &.small{
            height: 110px;
            .logo-left{
                .logo{
                    height: 60px;
                }
            }
        }
    }
    .logo-left{
        float: left;
        height: 60px;
        margin: 20px;
    }
}
/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper{
    .section-1{
        .featured-news-wrapper{
            .slider{
                display: inline-block;
            }        
        }
    }
    .section-2, .section-3{
        .news-wrapper{
            .news{
                width: 100%;
                display: inline-block;
                .news-image{
                    height: auto;
                    img{
                        display: -webkit-box;
                        width: 100%;
                    }
                }
                .news-content{
                    padding: 50px 0;
                    .title{
                        p{
                            text-align: center;
                            @include font-size(20px);
                        }
                    }
                }
            }
        }
    }
    .section-4{
        .news-wrapper{
            .news{
                width: 100%;
                background-color: #fff;
                .news-image{
                    img{
                        display: -webkit-box;
                    }
                }
                .news-content{
                    //padding: 50px 0;
                    .title{
                        p{
                            text-align: center;
                            @include font-size(16px);
                        }
                    }
                }
            }
        }
    }
}
div.slide-text{
    width: 100%;
    min-height: 200px;
    text-align: center;
}
.nav-justified{
    border-bottom: 2px solid #000;
}
.col-sm-10{
    width: 70%;
    margin-left: 15%;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}

@media (max-width: 767px) {
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper{
    .section-1{
    padding: 70px 0;
        .featured-news-wrapper{
            padding-top: 120px;
        }
    } 
    .section-2, .section-3, .section-4{
        .news-wrapper{
            .news{
                .news-content{
                    .title{
                        p{
                            text-align: center;
                            @include font-size(16px);
                        }
                    }
                }
            }
        }
    }
}

.col-sm-10{
    width: 80%;
    margin-left: 10%;          
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

}


@media (max-width: 480px) {
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper{
    .section-2, .section-3, .section-4{
        .news-wrapper{
            .news{
                .news-content{
                    .title{
                        p{
                            text-align: center;
                            @include font-size(14px);
                        }
                    }
                }
            }
        }
    }
}

.col-sm-10{
    width: 90%;
    margin-left: 5%;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */  
}

@media (max-width: 320px) {
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}


@media (max-width: 768px){
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}

@media (min-width: 1001px){
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-wrapper{
    display: none;
}
    .navbar {
        .logo-left{
            display: none;
        }
    }
/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}


////////////////IPAD

@media (width: 768px) and (height: 1024px) {
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}

@media (width: 1024px) and (height: 1366px) {
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}


