$base-font-size : 16px;

p{
	@include font-size($base-font-size);
	@include font-smoothing;
}
a{
    color: #000!important;
    text-decoration: none !important;
    &:hover{
        color: $dark-brown!important;
        text-decoration: none !important;
    }
}


h6{
	@include font-size(14px);
}
h5{
	@include font-size(16px);
}
h4{
	@include font-size(20px);
}
h3{
	@include font-size(24px);
}
h2{
	@include font-size(30px);
}
h1{
	@include font-size(36px);
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin helvetica($type){
	font-family: 'Helvetica', sans-serif;
	font-style: normal;
    @if $type == bold {
    	font-weight: 700;
	}@else if $type == black {
    	font-weight: 800;
	}@else if $type == normal {
    	font-weight: 400;
	}@else if $type == light {
    	font-weight: 200;
	}
}

@mixin saira($type){
	font-family: 'Saira Semi Condensed', sans-serif;
	font-style: normal;
    @if $type == bold {
    	font-weight: 700;
	}@else if $type == black {
    	font-weight: 900;
	}@else if $type == normal {
    	font-weight: 400;
	}@else if $type == light {
    	font-weight: 200;
	}
}


@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,700');